.result-tag {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  font-family: tahoma;
  .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }

  .text-uppercase {
    text-transform: uppercase;
  }
}
