.table__disable__paginate {
  .ant-pagination-prev {
    display: none !important;
  }

  .ant-pagination-item {
    display: none !important;
  }

  .ant-pagination-next {
    display: none;
  }

  .ant-pagination-options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;

    gap: 12px;
    .ant-select {
      height: 34px;
    }

    .ant-select-selector {
      // height: 34px;
      padding: 15px 20px !important;
      width: 200px !important;

      display: flex !important;
      align-items: center !important;
    }

    .ant-select-arrow {
      color: #111;
    }

    .ant-select-selection-search {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 4px;
    }
  }

  .ant-pagination-options-quick-jumper {
    height: 34px !important;
    display: flex;
    align-items: center;
  }
}

.home-container {
  .home {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    width: 100vw;

    font-family: Tahoma, Verdana, Helvetica, sans-serif;

    .content {
      min-height: 455px;
      padding: 0;
      width: 100%;
      // margin-top: -52px;
      // border-radius: 5px;
      // -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      // -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      // background-color: white;

      .group-btn {
        display: flex;
        justify-content: center;
        gap: 8px;

        .ant-btn {
          padding: 10px 16px;
          height: 50px;
          font-size: 18px;
          line-height: 1.33;
          width: 200px;
        }

        .ant-btn:first-child {
          color: #fff;
          background-color: #5bc0de;
          border-color: #46b8da;
        }

        .ant-btn:last-child {
          color: #fff;
          background-color: #5cb85c;
          border-color: #4cae4c;
        }
      }

      .row-data {
        .row-data-game {
          width: 100%;
          border: 1px solid #ad4105;
          height: 400px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 4px;

          .row-header {
            width: 99.2%;
            height: 42px;
            color: #fff;
            background-color: #ad4105;
            text-align: center;
            border-radius: 4px;
            margin: 1px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }

        .panel-body {
          width: 100%;
          padding: 15px;
          padding-bottom: 0;

          display: flex;
          justify-content: center;
          .alert-danger {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;

            width: 100%;

            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-login {
              height: 23.5px;
              margin-top: 5px;
              > a {
                padding: 1px 5px;
                font-size: 13px;
                line-height: 1.5;
                border-radius: 3px;

                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;

                display: inline-block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                white-space: nowrap;
                // padding: 6px 13px;
                font-size: 14px;
                line-height: 1.42857143;
                border-radius: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                display: flex;
                align-items: center;
              }
            }
          }
        }
      }

      .table-response {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;

        > h1 {
          margin-top: 0;
          font-family: Tahoma;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 24px;
        }

        .marquee {
          p {
            margin: 0 100px;
          }
        }

        .table-data {
          width: 100%;
        }
      }
    }
  }
}
