.modalGlobal {
  border-radius: 5px;
  :global {
    .ant-modal-content {
      border-radius: 5px;
    }

    .ant-modal-header {
      border-radius: 5px;
      text-align: center;
    }

    .ant-modal-footer {
      .buttonOk {
        border-radius: 5px;
        color: #fff;
        background-color: #1980ff !important;

        &:hover {
          opacity: 0.7;
        }
      }

      .buttonCancel {
        border-radius: 5px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .modalGlobalContent {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media only screen and (max-height: 800px) {
    .modalGlobalContent {
      max-height: 600px;
    }
  }
}
